[submodule "External/clip"]
	path = External/clip
	url = https://github.com/dacap/clip.git
[submodule "External/ssLogger"]
	path = External/ssLogger
	url = https://github.com/Neko-Box-Coder/ssLogger.git
[submodule "External/freetype"]
	path = External/freetype
	url = https://github.com/freetype/freetype.git
[submodule "External/ssTest"]
	path = External/ssTest
	url = https://github.com/Neko-Box-Coder/ssTest.git
[submodule "External/Embed2C"]
	path = External/Embed2C
	url = https://github.com/Neko-Box-Coder/Embed2C.git
[submodule "External/CppOverride"]
	path = External/CppOverride
	url = https://github.com/Neko-Box-Coder/CppOverride.git
