@font-face {
    font-family: 'NotoColorEmoji';
    src: url(NotoColorEmoji.ttf) format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NotoSans';
    src: url(NotoSans-Regular.ttf);
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NotoSans';
    src: url(NotoSans-Bold.ttf);
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

/* Font & Font Size settings */
* {
    font: none;
    font-family: 'NotoSans', 'NotoColorEmoji', 'Segoe UI Emoji';
    font-size: 1.1rem;
    line-height: 2rem;
}

/* Code Fonts */
.CTopic pre,
.SHKeyword,
.SHComment,
.SHString,
.PSection > *,
.SHNumber{
    font-family: monospace;
    font-size: 1rem;
    line-height: 1.5rem;
}

/* Code Block */
.CTopic pre {
    padding: 0.5rem;
    margin: 0.5rem;
    width: 125%;
    margin-left: 3rem;
    border-color: #797979;
}

.CCode br,
.CText br
{
    line-height: 0rem;
}

.NDPrototype {
    padding: 0;
}

.PSection {
    line-height: 1rem;
    padding: 0.5rem;
}


/* Home page box */
.HTitle,
.HSubtitle {
    font: none;
    font-family: 'NotoSans', 'NotoColorEmoji', 'Segoe UI Emoji';
}

.HTitle {
    font-size: 2.0rem;
    margin-bottom: 1.5rem;
    line-height: 3rem;
}

.HSubtitle {
    font-size: 1.2rem;
}

#HTitle, #HTitle > *{
    text-shadow: 0;
    font-size: 1.5rem;
}

.HContent {
    border-width: 0 0 0.3rem 0;
    box-shadow: 1rem 1rem 1.0rem rgba(0,0,0,0.1);
}

.NDHomePage body{
    padding: 0;
    margin: 0;
    background-color: #E0E0E0;
    background-image: none;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%
}

/* Header */
.DarkTheme #NDHeader,
.BlackTheme #NDHeader{
    background-image: unset;
    border-bottom-color: unset;
    box-shadow: unset;
}

.BlackTheme #NDHeader{
    background-color: rgb(25, 25, 25);
}

#NDHeader {
    background-color: #3b3b3b;
    padding: .65rem .65rem .65rem .65rem;
    border-bottom: 1rem solid #202020;
    z-index: 2;
}

/* Content */
.CTopic.TSection .CTitle{
    font-weight: bold;
    font-size: 2rem;
}

.CTopic .CTitle {
    font-family: 'NotoSans', 'NotoColorEmoji', 'Segoe UI Emoji';
    font-size: 1.5rem;
    text-transform: none;
}

.CTopic.TInformation .CTitle {
    font-size: 1.3rem;
}

.TFunction .CTitle {
    font-size: 1.5rem;
}

.TConstant .CTitle{
    font-size: 1.5rem;
}

.CHeading {
    font: none;
    font-family: 'NotoSans', 'NotoColorEmoji', 'Segoe UI Emoji';
    font-weight: bold;
    font-size: 1.5rem;
}

.NDContentPage body {
    max-width: 70rem;
}

.CTopic ul ul {
    margin: 0 0 0 3rem;
}

.CTopic.TVariable.LC > .CTitle,
.CTopic.TFunction.LC > .CTitle {
    font-weight: normal;
}

/* Inheritance graph */

.NDClassPrototype.HasParents::before {
    content: '🅿️ Parent (Base) Classes:';
    display: block;
    position: absolute;
    margin-top: -2rem;
    /*color: #000000;*/
    font-weight: bold;
}

.NDClassPrototype.HasParents{
    padding-top: 2rem;
}

.NDClassPrototype.HasParents.HasChildren .CPEntry.TClass.Current::before,
.NDClassPrototype.HasParents .CPEntry.TClass.Current::before,
.NDClassPrototype.HasChildren .CPEntry.TClass.Current::before{
    content: '🆑 Current Class:';
    display: block;
    position: absolute;
    margin-top: -2.5rem;
    margin-left: -0.5rem;
    /*color: #000000;*/
    font-weight: bold;
}

.NDClassPrototype.HasParents.HasChildren .CPEntry.TClass.Current::after,
.NDClassPrototype.HasChildren .CPEntry.TClass.Current::after{
    content: '🔽 Children (Derived) Classes:';
    display: block;
    position: absolute;
    margin-top: 0.7rem;
    margin-left: 1rem;
    /*color: #000000;*/
    font-weight: bold;
}

.CPEntry.Parent,
.CPEntry.Child{
  opacity: 1;
}

.CPEntry.Parent.TClass .CPModifiers,
.CPEntry.Child.TClass .CPModifiers,
.CPEntry.Parent.TClass .CPName,
.CPEntry.Child.TClass .CPName{
  opacity: 0.5;
}

.CPEntry.TClass.Current {
    margin-bottom: 2.5rem;
    margin-top: 2.5rem;
}


/* Enum title */
td.CDLEntry {
    font: none;
    font-family: 'NotoSans', 'NotoColorEmoji', 'Segoe UI Emoji';
    font-weight: bold;
    font-size: 1.0rem;
}

/* Removing the class tab */
#MClassTab {
    display: none !important
}


/* Background color, padding, borders, etc.. */

/* Side menu */
#MFileTab {
    font-size: 1.5rem;
    padding: .50rem;
    font-weight: Normal;
    display: block;
}

.MTabTitle {
    font-style: normal;
    font-size: 1.5rem;
}

#MFileTab .MTabIcon {
    background-size: 1.5rem 1.5rem;
}

.MTabIcon {
    display: none;
/*     width: 2rem; */
/*     height: 2rem; */
}

.MFolder{
    font-weight: 500;
}

.MEntry{
    padding: .30rem .30rem .30rem .30rem;
    overflow: hidden;
    white-space: nowrap;
}

.MTab {
    border: 0;
}

.MTab.Selected {
    border-left: 1rem solid #404040;
}

.MEntry.MFolder,
.MEntry.MFile {
    padding-left: 2rem;
}

.MEntry.MFile {
    padding-left: 2rem;
}

.MEntry.MFolder.Selected,
.MEntry.MFolder.Parent {
    padding-left: 0.5rem;
}

.Selected {
    border-left: 0.5rem solid #404040;
    background-color: #FFFFFF;
    font-weight: bold;
}

.SuEntry.TClass, 
.SuEntry.TInterface, 
.SuEntry.TStruct, 
.SuEntry.TSection, 
.SuEntry.TDatabase, 
.SuEntry.TDatabaseTable, 
.SuEntry.TFile.first {
    font-size: 1.2rem;
}

/* Menu pane width */
#NDMenu {
    width: 25rem;
}

/* Summary pane width */
#NDSummary {
    width: 25rem;
}

/* No idea what this is for */
.CICaption {
    display: none;
}

a.SeeImageLink {
    display: none;
}

/* Menu Sizer */
#NDMenuSizer {
    background-color: #757575;
/*     border-left: 1px solid #202020; */
/*     border-right: 1px solid #202020; */
    width: 0.25rem;
}

#NDMenuSizer:hover,
#NDMenuSizer.Dragging {
    background-color: #353535;
/*     border-left: 1px solid #202020; */
/*     border-right: 1px solid #202020; */
}

/* Menu item icons */
.MFolder::before {
    content: '🖿';
    font-size: 1.2rem;
    margin: 0 0.5rem 0 0.1rem;
    display: inline-block;
    height: 1.3rem;
}

.MFile::before {
    content: '📦';
    font-size: 1.2rem;
/*     vertical-align: 25%; */
    margin: 0 0.5rem 0 0.1rem;
    display: inline-block;
    height: 1.3rem;
}



.NDClassPrototype .CPEntry.TInterface {
    background-color: #ffffff;
    border-color: #7a7a7a;
    scrollbar-color: #dddddd #ffffff;
}

/* Summary items */
.SuEntry {
    padding: 0.25rem 0 0.25rem 2rem;
}

/* Comment color */
.SHComment {
    color: #058a1b;
}


/* Class or namespace box */
.CPEntry {
    border-radius: 0.5rem;
}


/* Search box */
#NDSearchField {
    border-radius: 0.5rem;
}


/* Content page of the class */
body.NDContentPage {
    padding: 5vh 20vw 5vh 20vw;
}


/* Images */
.CImage {
    text-align: left;
    margin: 1rem 0;
    display: inline-block;
    border: 0.2rem solid black;
    margin-left: 3rem;
}

/* To remove weird gap at the bottom */
.CImage img {
    vertical-align: bottom;
}

/* Paragraph fomatting */
.CTopic p {
    margin: 0 0 1rem 0;
    padding-left: 2.5rem;
    text-indent: 0rem;
}

.CTopic li p {
    padding-left: 0;
}

/* Hyperlink color */
.CTopic a:link,
.CTopic a:visited,
.CTopic a:hover {
    color: #ca0000;
    font-weight: bold;
}


/* Hyperlink hover preview */
.NDToolTip {
    background-color: #FFF;
    border-style: solid;
    border-width: 0.1rem;
    border-color: rgba(0, 0, 0, 0.5);
    padding: 0.5rem;
    overflow: hidden;
    border-radius: 0.5rem;
    box-shadow: 0.3rem 0.3rem 1rem rgba(0, 0, 0, 0.3);
}